app = 'cdwr-web'
primary_region = 'arn'

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 3001
  force_https = true
  auto_stop_machines = 'suspend'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[http_service.checks]]
  method = 'GET'
  path = '/'
  grace_period = '10s'
  interval = '20s'
  timeout = '5s'

[[vm]]
  size = 'shared-cpu-1x'
  memory = '512mb'
