# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp
/out-tsc

# dependencies
node_modules

# Unsupported package managers
bun.lockb
package-lock.json
yarn.lock

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.pnpm-store
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Nx
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
.nx/cache
.nx/workspace-data
migrations.json
!packages/**/migrations.json

# Act
.secrets

vite.config.*.timestamp*
vitest.config.*.timestamp*

# No nested lockfiles
apps/**/pnpm-lock.yaml

# Next.js
.next
out
