{
  "plugins": ["prettier-plugin-tailwindcss"],
  "singleQuote": true,
  "trailingComma": "none",
  "overrides": [
    {
      "files": "*.{yml,yaml}",
      "options": {
        "singleQuote": false
      }
    }
  ]
}
