@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@config '../tailwind-typography.cjs';

@custom-variant dark (&:is(.dark *));

:root {
  --background: var(--color-white);
  --foreground: var(--color-zinc-600);
  --primary: var(--color-zinc-900);
  --primary-foreground: var(--color-zinc-50);
  --secondary: var(--color-zinc-100);
  --secondary-foreground: var(--color-zinc-900);
  --accent: var(--color-zinc-100);
  --accent-foreground: var(--color-zinc-900);
  --muted: var(--color-zinc-100);
  --muted-foreground: var(--color-zinc-500);
  --destructive: var(--color-red-500);
  --destructive-foreground: var(--color-zinc-50);
  --border: var(--color-zinc-100);
  --ring: var(--color-zinc-900);
  --card: var(--color-zinc-50);
  --card-foreground: var(--color-zinc-600);
  --input: var(--color-zinc-100);
  --popover: var(--color-zinc-50);
  --popover-foreground: var(--color-zinc-900);
  --radius: 0.5rem;
  --link: var(--color-teal-500);
}

.dark {
  --background: var(--color-zinc-900);
  --foreground: var(--color-zinc-400);
  --primary: var(--color-zinc-700);
  --primary-foreground: var(--color-zinc-300);
  --secondary: var(--color-zinc-800);
  --secondary-foreground: var(--color-zinc-100);
  --accent: var(--color-zinc-800);
  --accent-foreground: var(--color-zinc-100);
  --muted: var(--color-zinc-400);
  --muted-foreground: var(--color-zinc-500);
  --destructive: var(--color-red-600);
  --destructive-foreground: var(--color-zinc-100);
  --border: theme('colors.zinc.700/0.4');
  --ring: var(--color-zinc-700);
  --card: theme('colors.zinc.800/0.5');
  --card-foreground: var(--color-zinc-400);
  --input: theme('colors.zinc.700/0.4');
  --popover: var(--color-zinc-800);
  --popover-foreground: var(--color-zinc-100);
  --radius: 0.5rem;
  --link: var(--color-teal-400);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-ring: var(--ring);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-input: var(--input);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-link: var(--link);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
