app = 'cdwr-cms'
primary_region = 'arn'

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[http_service.checks]]
  method = 'GET'
  path = '/'
  interval = '20s'
  timeout = '5s'

[[vm]]
  size = 'shared-cpu-2x'
  memory = '1gb'
