name: CI

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  merge_group:
  push:
    branches:
      - main
      - renovate/**
  workflow_dispatch:

permissions:
  actions: read
  contents: read

# Environment details:
# - renovate branches should never use Nx Cloud
env:
  CDWR_DEBUG_LOGGING: true
  NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}
  NX_NO_CLOUD: ${{ startsWith(github.head_ref || github.ref_name, 'renovate') || vars.NX_NO_CLOUD }}
  NX_PARALLEL: ${{ vars.NX_PARALLEL }}
  NX_VERBOSE_LOGGING: ${{ vars.NX_VERBOSE_LOGGING }}

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install pnpm package manager
        uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Install playwright browsers
        run: pnpm exec playwright install --with-deps

      - name: Analyze affected projects
        uses: nrwl/nx-set-shas@v4

      - run: pnpm nx-cloud record -- nx format:check

      - run: pnpm nx affected -t lint,test,build -c ci

      # nx-payload-e2e only runs in e2e-matrix workflow
      - run: pnpm nx affected -t e2e -c ci --exclude nx-payload-e2e

      - name: Nx Self-healing CI
        run: pnpm nx fix-ci
        if: always()

      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
