name: Nx migrate

on:
  workflow_dispatch:
  schedule:
    # Every day at 6am UTC
    - cron: 0 6 * * *

env:
  NX_NO_CLOUD: true

permissions:
  contents: write
  pull-requests: write

jobs:
  nx-migrate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/create-github-app-token@v2
        id: generate-token
        with:
          app-id: ${{ secrets.CDWR_ACTIONS_BOT_ID }}
          private-key: ${{ secrets.CDWR_ACTIONS_BOT_PRIVATE_KEY }}

      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build action
        run: pnpm nx build nx-migrate-action

      - name: Run Nx migrate
        uses: ./packages/nx-migrate-action
        with:
          token: ${{ steps.generate-token.outputs.token }}
          auto-merge: ${{ vars.NX_AUTO_MIGRATE }}
          check-token: ${{ vars.NX_MIGRATE_CHECK_TOKEN }}
          committer: ${{ vars.CDWR_COMMITTER }}
          frequency: ${{ vars.NX_MIGRATE_FREQUENCY }}
          skip-tests: ${{ vars.NX_MIGRATE_SKIP_TESTS }}
          skip-e2e: ${{ vars.NX_MIGRATE_SKIP_E2E }}
          dry-run: ${{ vars.NX_MIGRATE_DRY_RUN }}
        env:
          CI: true
